ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__AccountConnection=Server=tcp:codebuilddeploy.database.windows.net,1433;Database=codebuilddeploy;User ID=setme;Password=setme;Trusted_Connection=False;Encrypt=True;Connection Timeout=30
ConnectionStrings__BlogConnection=Server=tcp:codebuilddeploy.database.windows.net,1433;Database=codebuilddeploy;User ID=setme;Password=setme;Trusted_Connection=False;Encrypt=True;Connection Timeout=30